
.navcolor{
	background: #2196f3;
}


      body {
        background-image: url('img/boy.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }


 
